body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #010205;
}
.footer-container h1 {
  font-size: 0.5rem;
  font-weight: 500;
  margin: 0;
}

.footer-container p {
  font-size: 0.5rem;
  font-weight: 300;
}