.home-top {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding: 0.75rem 0;
}

.home-button {
    background-color: #fdfdfe;
    color: rgba(1, 2, 5, 0.3);
    border: none;
    margin: 0;
}

.home-button:hover, .home-button:focus {
    color: rgba(1, 2, 5, 1);
    outline: none;
    margin: 0;
}

.material-symbols-rounded {
    font-size: 1.75rem;
    
}

.home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.home-cat {
    width: 50px;
}

.heading {
    color: #6CBAAE;
    margin: 0.5em 0 0;
    font-weight: bold;
    font-size: 1.25rem;
}

.subheading {
    color: #010205;
    margin: 0.625em 0 0;
    font-weight: 500;
    font-size: 0.5rem;
}

