.home-top, .section-top {
    width: 100vw;
    display: flex;
    padding: 0.75rem 0;
}

.home-top {
    justify-content: flex-end;
}

.section-top {
    justify-content: space-between;
}

.home-button {
    background-color: #fdfdfe;
    color: rgba(1, 2, 5, 0.3);
    border: none;
    margin: 0;
}

.home-button:hover, .home-button:focus {
    color: rgba(1, 2, 5, 1);
    outline: none;
    margin: 0;
}

.material-symbols-rounded {
    font-size: 1.75rem;
    
}

.home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding-left: 1rem;
}

.home-cat {
    width: 50px;
}

.section-cat {
    width: 30px;
}

.heading, .section-heading {
    color: #6CBAAE;
    font-weight: bold;
}

.heading {
    margin: 0.5em 0 0;
    font-size: 1.25rem;
}

.section-heading {
    font-size: 0.8rem;
    margin: 0;

}

.subheading, .section-subheading {
    color: #010205;
}
.subheading {
    margin: 0.625em 0 0;
    font-weight: 500;
    font-size: 0.5rem;
}

.section-subheading {
    font-weight: 400;
    font-size: 0.5rem;
    margin: 0.5em 0 0;
}

