.home-top {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
}

.home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.home-cat {
    width: 50px;
}

.heading {
    color: #6CBAAE;
    margin: 0.5em 0 0;
    font-weight: bold;
    font-size: 1.25rem;
}

.subheading {
    color: #010205;
    margin: 0.625em 0 0;
    font-weight: 500;
    font-size: 0.5rem;
}

